@{
    ViewBag.Title = "Services";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Menu
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Menu</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

            <img src="~/img/banner7.jpg" class="img-responsive">
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Paragraphs -->
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Our Menu</h2>
            <p>Every meal is cooked-to-order, just the way you want it, every time. </a> Using only the freshest ingredients, and traditional cooking methods </a> (you won’t find heat-lamps or microwaves in our stands), we’re best known </a> for our fresh-never-frozen beef, chicken and veggie burgers & sandwiches, fries, wedges </a> and build-your-own-burger experience. Order with us now!</p>
        </div>

    </div>

    <!-- /.row -->
    <!-- Menu Images -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Menu</h2>
        </div>
        <div class="col-sm-4">

            <img src="~/img/burger1.jpg" class="img-responsive">
            <h3>Beef Burger</h3>
            <a class="btn btn-link btn-sm pull-right">Order Now! <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-4">

            <img src="~/img/burger2.jpg" class="img-responsive">
            <h3>Chicken Burger</h3>
            <a class="btn btn-link btn-sm pull-right">Order Now!<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-4">

            <img src="~/img/drink1.jpg" class="img-responsive">
            <h3>Iced Coffee</h3>
            <a class="btn btn-link btn-sm pull-right">Order Now!<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-4">

            <img src="~/img/drink2.jpg" class="img-responsive">
            <h3>Iced Lemon Tea</h3>
            <a class="btn btn-link btn-sm pull-right">Order Now!<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-4">

            <img src="~/img/addons1.jpg" class="img-responsive">
            <h3>Fries</h3>
            <a class="btn btn-link btn-sm pull-right">Order Now!<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-4">

            <img src="~/img/addons2.jpg" class="img-responsive">
            <h3>Wedges</h3>
                <a class="btn btn-link btn-sm pull-right">Order Now!<i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <!-- /.row -->
</div>