@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
    <h2>View Order</h2>
    <table class="table table-bordered" style="table-width: 80%">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Name</th>
                <th>Delivery Location</th>
                <th>Delivery Date</th>
                <th>Delivery Time</th>
                <th>Contact Number</th>
                <th>Email Address</th>
                <th>Food Order</th>
                <th>Quantity</th>
                <th>Food Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12345</td>
                <td>Ahmad</td>
                <td>20 Bedok North Street 2, 469644, Singapore</td>
                <td>12/6/2021</td>
                <td>12pm</td>
                <td>84836744</td>
                <td>ahmadg@gmail.com</td>
                <td>Beef Burger</td>
                <td>20</td>
                <td>No Onions</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>12345</td>
                <td>Ahmad</td>
                <td>20 Bedok North Street 2, 469644, Singapore</td>
                <td>12/6/2021</td>
                <td>12pm</td>
                <td>84836744</td>
                <td>ahmadg@gmail.com</td>
                <td>Fries</td>
                <td>20</td>
                <td>null</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>12345</td>
                <td>Ahmad</td>
                <td>20 Bedok North Street 2, 469644, Singapore</td>
                <td>12/6/2021</td>
                <td>12pm</td>
                <td>84836744</td>
                <td>ahmadg@gmail.com</td>
                <td>Iced Lemon Tea</td>
                <td>20</td>
                <td>null</td>
            </tr>
        </tbody>
    </table>
</div>


