@{
    ViewBag.Title = "Home";
}


<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
        <div class="fill" style="background-image: url('../../img/food.jpg');"></div>
        <div class="carousel-caption">
            <h1>ABC Food Catering</h1>
            <p>Join us on your next meal. We get the juices flowing.</p>
        </div>
    </div>
    <div class="item">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
        <div class="carousel-caption">
            <h1>Ready to Style &amp; Add Content</h1>
        </div>
    </div>
    <div class="item">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
        <div class="carousel-caption">
            <h1>
                Additional Layout Options at <a href="http://startbootstrap.com">http://startbootstrap.com</a>
            </h1>
        </div>
    </div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
</a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i>PREMIUM INGREDIENTS</h3>
                <p>We source for fresh, quality ingredients and prepare them in the kitchen daily to ensure that the best food is served to our customers.</a></p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3>
                    <i class="fa fa-pencil"></i> AFFORDABLE PRICES
                </h3>
                
                <p>We believe in feeding the people. We keep our prices affordable </a> so that everyone in the community can have access to wholesome, gourmet burgers, anytime, any day.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i>WHOLESOME FOOD</h3>
                <p>All our burgers are ordered to grill, a-la minute. We offer a wide selection </a> of burgers ranging from wagyu beef to meat-free options to cater to the </a> different palates of our diners. You name it, we’ve got it.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>GREAT TASTE, TIMES</h2>
                <p>Here at ABC Food Catering’s, we take pride in the quality of the meat used </a> for each and every burger. If it’s not perfect and grilled just the way you ordered it,</a> we won’t send it out.  We guarantee the burger delivered </a> to your table is the best burger you could have ordered.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="~/img/banner2.jpg" />
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="~/img/banner3.jpg" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Coffee and Chat</h2>
                <p>No good burger is complete without that refreshing taste of </a> our tasty drinks. We have over 10 drinks to choose from, </a> From coffee to lemonade, we have the liquids to cwinch your thrist.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

